body {
  text-align: center;
  background-color: #393c3f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  line-height: 4rem;
  margin: 5%;
  color: #fef2bf;
}

.looser {
  display: none;
  color: yellow;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(221, 88, 88);
}

.green {
  background-color: rgb(93, 180, 93);
}

.blue {
  background-color: rgb(81, 81, 233);
}

.yellow {
  background-color: rgb(231, 231, 128);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start button {
  margin: 4rem;
  padding: 1rem 2rem;
  border-radius: 7%;
  background-color: #393c3f;
  border: 2px solid white;
  color: #fef2bf;
  font-size: 1.7rem;
  font-weight: bold;
  outline: none;
}

.start button:active {
  font-size: 1.9rem;
}

@media (max-width: 1024px) {
  .level-title {
    font-size: 4rem;
    line-height: 6rem;
  }

  .container {
    width: 100%;
  }

  .btn {
    height: 23rem;
    width: 23rem;
  }

  .start button {
    width: 20rem;
    height: 10rem;
    font-size: 4rem;
    background-color: #4e545a;
    border: 3px solid white;
  }
}
